.superContainer {
  max-width: 750px !important;
  display: block;
  margin: 0 auto;
}

.container {
  border: 5px solid #214b5e;
  border-radius: 20px;
  background-color: #d0ecd3;
}

.searchBar {
  padding: 20px 0 20px 0;
  display: inline-block;
  width: 80%;
}

.insertCity {
  width: 50%;
  padding: 5px;
  border: solid 3px #949494;
  border-radius: 5px;
}

.searchButton {
  width: 80px;
  padding: 5px;
  color: aliceblue;
  font-weight: bold;
  background-color: #00549e;
  border: solid 3px #0000a9;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.searchButton:hover {
  background-color: aliceblue;
  color: #00549e;
}

.currentButton {
  width: 80px;
  padding: 5px;
  color: aliceblue;
  font-weight: bold;
  background-color: #00549e;
  border: solid 3px #0000a9;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.currentButton:hover {
  background-color: aliceblue;
  color: #00549e;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  opacity: 0.7;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  opacity: 0.7;
  text-transform: capitalize;
}

.weatherToday {
  min-width: 300px;
}

.todayIcon {
  margin-bottom: -30%;
}

.weatherToday canvas {
  max-height: 50%;
}

.rainWind {
  padding-top: 20px;
  padding-left: 12% !important;
}

.rainWind p {
  font-size: 18px;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

.cityName {
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
}

.cityText {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}

.forecastRow {
  padding-top: 25px;
}

.forecastTemp {
  text-align: center;
  font-weight: bold;
}

.forecastDay canvas {
  height: 70px;
  width: 70px;
  min-height: 40px;
  min-width: 40px;
  display: block;
  margin: 0 auto;
}

.forecastDay p {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.forecastTemp {
  padding-top: 15px;
}

.sup {
  font-size: 50%;
  padding-left: 5px;
}

.currentCity {
  padding-left: 15% !important;
}

sup .active {
  color: black;
}

sup .active:hover {
  cursor: default;
  text-decoration: none;
  color: black;
}

.spinner {
  text-align: center;
  margin-top: 10%;
}
